.my-toggle-icon {
    transition: transform 0.1s ease-in-out;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer !important;
    color: var(--text-accent);
    font-size: 0.9em;
    user-select: none;
    transition: transform 0.1s ease;
}

.my-toggle-icon:hover {
    background-color: var(--background-modifier-hover);
    border-radius: 4px;
}
